
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    width: min(550px, 100% - 2rem);
    margin-inline: auto;
}

header .container {
    margin-block-start: 5rem;
    margin-block-end: 1rem;
}

section .container {
    background-color: white;
    padding: 1rem;
    margin-block-end: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, .05);
}

form, .campo-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.campo-form {
    gap: .5rem;
}

form label {
    color: rgba(0, 0, 0, .7);
}

form input {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    color: rgba(0, 0, 0, .7);
}

::placeholder {
    opacity: .8; 
  }
  
::-ms-input-placeholder { 
    opacity: .8; 
}

form input:focus, form button:focus {
    outline-color: rgba(0, 0, 0, .1);
}

form hr {
    opacity: .2;
}

form button {
    padding: 1rem;
    border: none;
    background-color: rgb(104, 180, 17);
    border-radius: .5rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.mensagem-erro {
    color: rgba(255, 0, 0, .7);
    font-size: smaller;
}

footer {
    padding: 1rem;
    text-align: center;
}









